
<header class="header sticky-top">  
        <nav class="navbar">
          <div class="container-fluid">

            <ul class="list-unstyled header_nav">
             <button class="menu-btn" type="button" data-toggle="collapse" id="sidebarCollapse">
                 <i class="fa fa-bars" aria-hidden="true"></i>
               </button>
              <li class="li_width">
                <ul class="list-unstyled">
                   
                  <li><a href="<%=log_out_path%>" class="nav-link logout">Logout <i class="fa fa-power-off"></i></a></li> 
                </ul>
              </li>
            </ul>

          </div>
        </nav>
      </header>


      <script type="text/javascript">

    // nav-toggle

    $('#sidebarCollapse').on('click', function (e) {
        $('.page').toggleClass('active');
    });

      $('#sidebarCollapse').on('click', function() {
        $('#sidebar').toggleClass('active');
      });
    </script>
